requests
spacy
typing_extensions==4.5.0 # required to resolve a spacy exception
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#egg=en_core_web_sm
airium